body{
    background-color: black;
}

img {
    height: 500px;
    width: 500px;
    
}

.myContainer1 {
    border: 2px solid black;
    color: white;
    border-radius: 50%;
}


.myContainer2 {
    border: 2px solid black;
    color: white;
}

footer {
    color: white;
}

.imagenRedonda{
border-radius: 50%;
}
